// Эти сущности понадобятся нам и в рамках файла functions.scss и в файле с глобальными css переменными.
$container-desktop-width: 1600; // Число, отвечающее за ширину контентного контейнера на desktop версии макета
$container-laptop-width: 1280;