@use 'constants' as *; // Получаем возможность использовать сущности из файла constants в рамках текущего файла function.scss
@use 'sass:math'; // Получаем возможность использовать различные математические функции (например, div для деления).

/*
	SASS функция для плавного изменения значения в зависимости от текущей ширины viewport (эту функцию мы будем очень часто использовать для указания размера шрифта, отступов, промежутков во флекс и грид элементах и т.д.)
	Для наглядности зададим значения по умолчанию.
	Некоторые значения нам может понадобиться плавно уменьшать
	не с desktop до mobile, а с desktop до laptop,
	а потом их нужно оставить неизменными.
	Чтобы не городить лишние media-выражения,
	мы будем по максимуму эксплуатировать SASS функцию fluid.
	Добавим сущность $isEndOfLaptop: false.
	Если мы будем вызывать функцию без третьего аргумента,
	то вычисляемое значение будет плавно изменяться от desktop ширины до mobile,
	а если передать в функцию третьим аргументом значение true, то диапазон,
	при котором вычисляемое значение плавно уменьшаться будет от desktop до laptop ширины устройства.
*/
@function fluid($max: 100, $min: 10, $isEndOfLaptop: false) {
  $maxViewportWidth: $container-desktop-width;
  $minViewportWidth: 390;

  @if ($isEndOfLaptop) {
    $minViewportWidth: $container-laptop-width;
  }

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersections: -$minWidth * $slope + $minSize;

	// В аргументы функции передаем минимальное, рекомендуемое и максимальное значение;
  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersections * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}
/*
	Когда нам нужно, чтобы какое-то значение плавно изменялось от desktop к mobile,
	мы будем просто вызывать функцию fluid c двумя аргументами.
	Когда нам потребуется изменять значение лишь от desktop к laptop, то у нас для этого
	дела будет отдельная функция fluid-to-laptop, которая будет вызываться так же, как и fluid,
	но под капотом будет выполнять свою собственную задачу - ограничивать конец диапазона вычисляемого
	значения на laptop ширине вместо стандартных 390.
*/
@function fluid-to-laptop($max: 100, $min: 10) {
	@return fluid($max, $min, true);
}

// Больше никаких SASS функций в этом проекте не понадобится.