.button {
	@include flex-center(true); // Так внутренне свойство display развернется со значением inline-flex.

	column-gap: 4px;
	padding: fluid-to-laptop(18, 14) fluid-to-laptop(24, 20);
	font-weight: 600;
	color: var(--color-white);
	background-color: var(--color-red-45);
	border: none; // Всем кнопкам важно убрать стандартный border.
	border-radius: var(--border-radius-s);
	user-select: none; // Так мы предотвратим случайные выделения внутреннего текста при двойном клике по кнопке.
	cursor: pointer; // Так курсор при наведении на кнопку будет меняться на руку.

	@include laptop {
		border-radius: var(--border-radius-xs); // Мы бы могли воспользоваться функцией fluid-to-laptop(), но css переменные в качестве аргументов SASS функции мы передавать не можем.
	}

	@include hover {
		color: var(--color-white); // В файле globals.scss для всех ссылок мы добавили эффект наведения с перекрашиванием color на красный, поэтому укажем это здесь явно. Компонент Button может стать ссылкой, поэтому нам важно, чтобы при наведении текст оставался белого цвета.
		background-color: var(--color-red-60);
	}

	&:active {
		scale: 1.05;
	}

	&:disabled {
		color: var(--color-gray-60);
		background-color: var(--color-black-06);
		pointer-events: none; 
	}

	&:has(.button__icon:only-child) {
		@include square(fluid-to-laptop(56, 44));
		
		padding: 0; // Когда внутри кнопки ТОЛЬКО иконка (без текста), отступы не нужны.
	}

	&--transparent {
		background-color: transparent;

		&:has(.button__icon:only-child) {
			@include square(44px); // Задаем кнопке рекомендуемый минимальный размер кликабельных элементов.

			.button__icon {
				--iconSize: #{fluid-to-laptop(34, 24)}; // Меняем размеры иконок.
			}
		}
	}

	&--black-10 {
		background-color: var(--color-black-10);
		border: var(--border);
	}
}