/*
	Здесь подключены шрифты через css директиву font-face.
	Внутри font-face перечисляются дискрипторы (походящие на свойства, но ими не являющиеся)
*/
@font-face {
	font-family: 'Manrope';
	src: url('../assets/fonsts/Manrope-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap; // Нужно для более оптимальной подгрузки шрифтов.
}

@font-face {
	font-family: 'Manrope';
	src: url('../assets/fonsts/Manrope-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../assets/fonsts/Manrope-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../assets/fonsts/Manrope-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

